// color ----------------------------------
$bg-color: #222;
$bg-color-tint: lighten($bg-color, 10);
$font-color: white;
$border-color: rgba(white, .2);
$p-sm: 16px;
$p-lg: 24px;

$primary: #188CD8;

// font-size ----------------------------------
$font-size-base: 14px;
$font-size-title: 18px;
$font-size-caption: 12px;

//layout -----------------------------------------

// button
$btn-px: $font-size-base;
$btn-border-radius: 100px;

// card 
$card-inner-mb: 8px;
$card-inner-gutter: 12px;
$card-outer-mb: 12px;
$card-inner-p: $p-sm;

// result-list
$result-list-inner-mb: 16px;
$result-list-inner-px: $p-sm;
$result-list-inner-py: $p-lg;

//search-box
$search-box-inner-p: $p-sm;
$search-box-inner-mb: 8px;