// color ----------------------------------
$bg-color: #222;
$font-color: white;
$border-color: rgba(white, .4);

$primary: #188CD8;

// font-size ----------------------------------
$font-size-base: 16px;