@import url('https://cdnjs.cloudflare.com/ajax/libs/reseter.css/1.0.8/reseter.min.css');

// Base ----------------------------------
body{
    display: flex;
    justify-content: center;
    background-color: $bg-color;
    color: $font-color;
    font-size: $font-size-base;
}

.container{
    max-width: 870px;
}

.btn{
    border: 1px solid #000;
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 36px;
    padding: 0 $font-size-base;
    border-radius: 100px;
    font-size: $font-size-base;
    font-weight: bold;
}

.btn--primary{
    background-color: $primary;
    color: $font-color;
}

.btn--lg{
    line-height: 48px;
    font-size: 18px;
    padding: 0 18px;
}