@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

// Base ----------------------------------
body{
    display: flex;
    justify-content: center;
    background-color: $bg-color;
    color: $font-color;
    font-size: $font-size-base;
    line-height: 1.4;
    letter-spacing: .5px;
}

a{
    color: $font-color;
    text-decoration: none;

    &:visited{
        color: $font-color;
    }
}

.container{
    max-width: 870px;
    min-height: 500px;
}

.btn{
    border: none;
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 36px;
    padding: 0 $btn-px;
    border-radius: $btn-border-radius;
    font-size: $font-size-base;
    font-weight: bold;
    cursor: pointer;
}

.btn--primary{
    background-color: $primary;
    color: $font-color;
}
